<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Categories</title>
    <link rel="components" href="../link/link_table.html">
  </head>
  <body>
    <element name="category-table" extends="span">
      <template>
        <table>
          <caption>Categories</caption>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Show</th>
          </tr>
          <tbody template iterate="category in categories.toList()">
            <tr>
              <td>{{ category.code }}</td>
              <td>{{ category.description }}</td>
              <td><button on-click="showLinks({{ category }})">Links</button></td>
            </tr>
          </tbody>
        </table>
        <div template if="showCategoryLinks">
          <link-table links ="{{ category.links }}"></link-table>
        </div>
      </template>
      <script type="application/dart" src="category_table.dart"></script>
    </element>
  </body>
</html>
