<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Category Edit</title>
  </head>
  <body>
    <element name="category-edit" extends="span">
      <template>
        <div>
          <br/>
          <label>Name</label>
          <input readonly="true" value="{{ category.code }}"/>
          <br/>
          <label for="edit-category-description">Description</label>
          <input id="edit-category-description"
            type="text" size="96" value="{{ category.description }}"
          />
          <br/>
          <button on-click="update()">Update</button>
        </div>
      </template>
      <script type="application/dart" src="category_edit.dart"></script>
    </element>
  </body>
</html>
