<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Categories</title>
    <link rel="import" href="category_add.html">
    <link rel="import" href="category_edit.html">
    <link rel="import" href="../link/link_table.html">
  </head>
  <body>
    <element name="category-table" extends="span">
      <template>
        <div template if="showCategoryAdd">
          <category-add categories="{{ categories }}"></category-add>
        </div>
        <div template if="showCategoryEdit">
          <category-edit
            categories="{{ categories }}"
            category="{{ category }}">
          </category-edit>
        </div>
        <table>
          <caption class="marker">
            Categories
            <button id="addCategoryButton" on-click="add()">Show Add</button>
          </caption>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Remove</th>
            <th>Show</th>
          </tr>
          <tbody template iterate="category in categories.toList()">
            <tr>
              <td>{{ category.code }}</td>
              <td>{{ category.description }}</td>
              <td><button id="editCategoryButton" on-click="edit(category)">
                Edit</button>
              </td>
              <td><button on-click="delete(category)">Remove</button></td>
              <td><button on-click="showLinks(category)">Links</button></td>
            </tr>
          </tbody>
        </table>
        <br/>
        <div template if="showCategoryLinks">
          <link-table
            id="link-table"
            category="{{ category }}"
            links="{{ category.links }}">
          </link-table>
        </div>
      </template>
      <script type="application/dart" src="category_table.dart"></script>
    </element>
  </body>
</html>
