<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Links</title>
    <link rel="components" href="link_add.html">
  </head>
  <body>
    <element name="x-link-table" extends="span">
      <template>
        <div template if="showLinkAdd">
          <x-link-add links ="{{ links }}"></x-link-add>
        </div>
        <table>
          <caption>
            Links
            <button id="addLinkButton" on-click="add()">Show Add</button>
          </caption>
          <tr>
            <th>Web Link</th>
            <th>Description</th>
          </tr>
          <tbody template iterate="link in olinks.toList()">
            <tr>
              <td>
                <a href="{{ link.url }}">
                  {{ link.code }}
                </a>
              </td>
              <td>{{ link.description }}</td>
            </tr>
          </tbody>
        </table>
      </template>
      <script type="application/dart" src="link_table.dart"></script>
    </element>
  </body>
</html>
