<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Links</title>
    <link rel="import" href="link_add.html">
    <link rel="import" href="link_edit.html">
  </head>
  <body>
    <element name="link-table" extends="span">
      <template>
        <div template if="showLinkAdd">
          <link-add
            category="{{ category }}"
            links="{{ links }}">
          </link-add>
        </div>
        <div template if="showLinkEdit">
          <link-edit
            category="{{ category }}"
            links="{{ links }}"
            link="{{ link }}">
          </link-edit>
        </div>
        <table>
          <caption class="marker">
            Links of {{ category.code }} category
            <button id="addLinkButton" on-click="add()">Show Add</button>
          </caption>
          <tr>
            <th>Web Link</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Remove</th>
          </tr>
          <tbody template iterate="link in links.toList()">
            <tr>
              <td>
                <a href="{{ link.url.toString() }}">
                  {{ link.code }}
                </a>
              </td>
              <td>{{ link.description }}</td>
              <td><button id="editLinkButton" on-click="edit(link)">
                Edit</button>
              </td>
              <td><button on-click="delete(link)">Remove</button></td>
            </tr>
          </tbody>
        </table>
      </template>
      <script type="application/dart" src="link_table.dart"></script>
    </element>
  </body>
</html>
