<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Link Add</title>
  </head>
  <body>
    <element name="link-add" extends="span">
      <template>
        <div>
          <br/>
          <span class="marker">Link of {{ category.code }} category</span>
          <br/>
          <label for="add-link-code">Name</label>
          <input id="add-link-code" type="text" size="32"/>
          <br/>
          <label for="add-link-url">Web Link</label>
          <input id="add-link-url" type="text" size="96"/>
          <br/>
          <label for="add-link-description">Description</label>
          <input id="add-link-description" type="text" size="96"/>
          <br/>
          <button on-click="add()">Add</button>
          <span id="add-link-message"></span>
        </div>
      </template>
      <script type="application/dart" src="link_add.dart"></script>
    </element>
  </body>
</html>
